.cabecalho {
    background-color: #fff;
    display: flex;
    height: 11vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1vw;
}

.cabecalho nav ul {
    list-style:  none;
    display: flex;
    min-width: 100%;
    gap: 50px;
}

.user{
    margin-left: 25px;
}

.cabecalho .rightContent {
    display: flex;
    align-items: center;
    gap: 150px;
    flex-wrap: nowrap;
    text-align: center;
}

.rightContent{flex-direction: row;}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & h1 {
        color: #669cf6;
        font-size: 3.4rem; 
        margin-left: 1vw;
    }

    & b {
      color: #aa9999;
    }
}

.link a {
    display: block;
    min-width: 100%;
    color: #0a0f18;
    font-weight: 500;
    background-color: #669cf6; 
    padding: 15px;
    border-radius: 5px;
    font-size: 2rem;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    &:hover{
        background-color: #3647e6;
        color: #eee
    }
}

.imgUsuario {
    width: 50px;
    height: auto;
    margin-right: 1vw;
}

@media (max-width: 868px){
    .logo{
        margin-right: 25px;
    }
    
    .cabecalho .rightContent {
        gap: 30px;
    }

    .cabecalho nav ul {
        gap: 20px;
    }
}

@media (max-width: 691px) {

    .cabecalho nav ul {
        gap: 10px; /* Reduz o espaço entre os links */
        min-width: auto; /* Remove a largura mínima */
    }

    .link a {
        font-size: 1.5rem; /* Reduz o tamanho da fonte para caber melhor */
        padding: 10px; /* Ajusta o padding para telas menores */
    }

    .imgUsuario {
        width: 40px; /* Reduz a largura da imagem do usuário */
    }
}

@media (max-width: 556px){
    .logo{
        margin-right:10px ;
    }

    .logo h1{
        font-size: 2.4rem
    }

    .user{
        margin-left: 10px;
    }

}

@media (max-width: 477px){
    .cabecalho{
        height: 16vh;
    }
}

@media (max-width: 380px){
    #ajuda{
        width: 90px;
        text-align: center  ;
    }

    #sobre{
        width: 90px;
    }
}

@media (max-width: 360px){
    #ajuda{
        width: 80px;
        text-align: center  ;
    }

    #sobre{
        width: 80px;
    }
}

